<form #MyForm="ngForm" (ngSubmit)="LoginSubmit(MyForm)">
    <table>
        <tr>
            <td><label>User name</label></td>
            <td><input type="text" name="user" [(ngModel)]="user" (change)="UserId()"></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" name="pass" [(ngModel)]="pass"></td>
        </tr>
        <br><br>
        <tr>
            <td><button id="sub1" type="submit">Submit</button></td>
            <td><button id="rest1" type="reset" (click)="ResetAll(MyForm)">Reset</button></td>
            <td><button id="signup" (click)="SignUpEvent()">Sign Up</button></td>
        </tr>
    </table>
</form>


