
header {background-color: brown; height: 30px; padding: 20px;}
footer {background-color: black; height: 30px; padding: 20px;}
#divMain {height: auto;}
main {
    display:flex;
    min-height: 75vh;    
}

#div1 {
    width: 15%;
    background-color: yellow;
    min-height: 70vh;
    float: left;
}
#div2 {
    width: 70%;
    background-color: lightblue;
    min-height: 70vh;
    float: left;
    margin: 10px;
}
#div3 {
    width: 15%;
    background-color: lightcoral;
    min-height: 77.5vh;
    float: left;
}
/* .d1 {
    min-height: 60vh;
    float: left;
    display: flex;
    flex-direction: column;
    height: 500px;
} */


